/* LOGIN */
.goBackButton {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  transition: 0.25s ease;
  border-radius: 15px;
}

.goBackButton:hover {
  background-color: #555;
}

.loginContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.credentials {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
}

.credentials h1 {
  margin-bottom: 20px;
  font-weight: 300;
}

.credentials .inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.credentials .inputGroup input {
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--nav);
  color: white;
  outline: none;
}

.credentials .inputGroup .forgotPassword {
  position: absolute;
  right: 1px;
  bottom: -30px;
  font-size: 14px;
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.credentials .inputGroup .forgotPassword:hover {
  color: rgb(105, 167, 168);
}

.credentials .buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credentials .buttonGroup button {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background-color: var(--border);
  color: white;
  cursor: pointer;
  margin-top: 30px;

  transition: 0.25s ease;
}

.credentials .buttonGroup button:hover {
  background-color: rgb(105, 167, 168);
}

.credentials .divider {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin: 20px 0;
}

.credentials .buttonGroup.createAccount {
  margin-top: -20px;
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.errorMessage {
  color: red;
  padding-top: 30px;
  font-size: 14px;
  max-width: 300px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 2px var(--theme);
  }
  50% {
    box-shadow: 0 0 8px var(--theme);
  }
  100% {
    box-shadow: 0 0 2px var(--theme);
  }
}

.credentials .inputGroup input:focus {
  border-color: var(--theme);
  animation: breathe 1.5s infinite;
}
