.orders-dropdown {
  display: none;
  position: fixed;
  top: 112px;
  width: 50%;
  background-color: rgba(29, 29, 29, 0.895);
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 38px 30px;
  z-index: 999 !important;
  color: white;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  overflow: hidden;
  height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.orders-dropdown.open {
  display: block;
  max-height: 1000px;
  opacity: 1;
}

.orders-dropdown h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 28px;
}

.orders-items {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.orders-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  padding-bottom: 60px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.307);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.067);
  gap: 15px;
}

.orders-item:first-child {
  margin-top: 12px;
}

.orders-item h3,
.orders-item h4,
.orders-item p {
  margin: 0;
  color: white;
  margin-bottom: 10px;
}

.orders-item ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0;
}

.orders-item ul li {
  margin-left: 20px;
  margin-bottom: 5px;
}
.orders-item h3 {
  font-size: 16px;
}

.orders-item h4 {
  font-size: 14px;
  color: #d4d4d4;
}

.orders-item p {
  font-size: 14px;
  color: #d4d4d4;
}

.orders-items p {
  font-size: 16px;
  color: #d4d4d4;
  text-align: center;
  margin-top: 10px;
  position: fixed;
}

.icon.orders {
  position: relative;
}
